/.idea
/.vscode
/venv
project/catalog/__pycache__/forms.cpython-310.pyc
project/catalog/__pycache__/forms.cpython-310.pyc
project/catalog/__pycache__/models.cpython-310.pyc
project/catalog/migrations/0005_alter_product_options_alter_product_table.py
project/catalog/migrations/0006_alter_product_id.py
project/catalog/migrations/0007_alter_product_image.py
project/catalog/migrations/__pycache__/0005_alter_product_options_alter_product_table.cpython-310.pyc
project/catalog/migrations/__pycache__/0006_alter_product_id.cpython-310.pyc
project/catalog/migrations/__pycache__/0007_alter_product_image.cpython-310.pyc
project/media/dddd.jpg
project/catalog/__pycache__/models.cpython-310.pyc
project/catalog/__pycache__/forms.cpython-310.pyc
project/catalog/__pycache__/models.cpython-310.pyc
project/media/products/ddd.jpg
project/project/__pycache__/settings.cpython-310.pyc
project/project/__pycache__/urls.cpython-310.pyc
project/project/__pycache__/wsgi.cpython-310.pyc
project/project/__pycache__/__init__.cpython-310.pyc
project/catalog/migrations/0002_alter_product_image.py
project/catalog/migrations/0001_initial.py
project/catalog/__pycache__/__init__.cpython-310.pyc
project/catalog/__pycache__/admin.cpython-310.pyc
project/catalog/__pycache__/apps.cpython-310.pyc
project/catalog/__pycache__/forms.cpython-310.pyc
project/catalog/__pycache__/models.cpython-310.pyc
project/catalog/__pycache__/urls.cpython-310.pyc
project/catalog/__pycache__/views.cpython-310.pyc
project/catalog/management/__pycache__/__init__.cpython-310.pyc
project/catalog/migrations/0001_initial.py
project/catalog/migrations/__pycache__/0001_initial.cpython-310.pyc
project/catalog/migrations/__pycache__/__init__.cpython-310.pyc
project/catalog/migrations/__pycache__/0002_alter_product_image.cpython-310.pyc
project/catalog/migrations/__pycache__/0002_post_alter_category_options_alter_product_options.cpython-310.pyc
project/catalog/migrations/__pycache__/0002_remove_category_slug_alter_product_image.cpython-310.pyc
project/catalog/migrations/__pycache__/0002_remove_product_slug.cpython-310.pyc
project/catalog/migrations/__pycache__/0003_rename_is_active_version_is_current_and_more.cpython-310.pyc
project/catalog/migrations/__pycache__/0003_verstion.cpython-310.pyc
project/catalog/migrations/__pycache__/0004_rename_name_version_name_version_and_more.cpython-310.pyc
project/catalog/migrations/__pycache__/0004_version_delete_verstion.cpython-310.pyc
project/catalog/migrations/__pycache__/0005_alter_product_options_alter_product_id_and_more.cpython-310.pyc
project/catalog/templatetags/__pycache__/init.cpython-310.pyc
project/catalog/templatetags/__pycache__/mediapath.cpython-310.pyc
project/media/products/dddd.jpg
project/project/__pycache__/__init__.cpython-310.pyc
project/project/__pycache__/settings.cpython-310.pyc
project/project/__pycache__/urls.cpython-310.pyc
project/project/__pycache__/wsgi.cpython-310.pyc
project/catalog/__pycache__/__init__.cpython-310.pyc
project/catalog/__pycache__/admin.cpython-310.pyc
project/catalog/__pycache__/apps.cpython-310.pyc
project/catalog/__pycache__/forms.cpython-310.pyc
project/catalog/__pycache__/models.cpython-310.pyc
project/catalog/__pycache__/urls.cpython-310.pyc
project/catalog/__pycache__/views.cpython-310.pyc
project/catalog/management/__pycache__/__init__.cpython-310.pyc
project/catalog/migrations/0001_initial.py
project/catalog/migrations/__pycache__/__init__.cpython-310.pyc
project/catalog/migrations/__pycache__/0001_initial.cpython-310.pyc
project/catalog/migrations/__pycache__/0002_post_alter_category_options_alter_product_options.cpython-310.pyc
project/catalog/migrations/__pycache__/0003_verstion.cpython-310.pyc
project/catalog/migrations/__pycache__/0004_version_delete_verstion.cpython-310.pyc
project/catalog/templatetags/__pycache__/init.cpython-310.pyc
project/catalog/templatetags/__pycache__/mediapath.cpython-310.pyc
project/project/__pycache__/__init__.cpython-310.pyc
project/project/__pycache__/settings.cpython-310.pyc
project/project/__pycache__/urls.cpython-310.pyc
project/project/__pycache__/wsgi.cpython-310.pyc
project/catalog/__pycache__/forms.cpython-310.pyc
