{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Отображаем изображение товара -->
      <img src="{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col-md-6">
      <!-- Отображаем название, цену и описание товара -->
      <h1>{{ product.name }}</h1>
      <p class="text-muted">{{ product.price }} руб.</p>
      <p>{{ product.description }}</p>
      <!-- если у продукта есть активная версия, то выводим ее информацию -->
      {% with active_version=product.versions.get is_current=True %} {% if active_version %}
      <p>Активная версия: {{ active_version.number_version }} - {{ active_version.name_version }}</p> {% endif %} {% endwith %} 
      <!-- Добавляем кнопку для добавления товара в корзину -->
      <div class="btn-group-vertical">
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
        <a href="{% url 'update_product' product.id %}" class="btn btn-secondary">Редактировать продукт</a>
        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Удалить продукт</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}